<div class="container-index">
    <div class="beer-image">
        <img src="images/beer.png" alt="beer-image">
    </div>
    <div class="index-buttons">
        <button> <a href="beers"> Check the Beers!</a> </button>
        <button><a href="randomBeers">Check a Random Beer!</a></button>
    </div>
</div>